.block__button {
  outline: none;
  cursor: pointer;
  margin: 16px auto 0 auto;
  padding: 18px 0 16px 0;
  width: 145px;
  background-color: #ed4159;
  border-radius: 100px;
  border: none;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  -webkit-box-shadow: 0 4px 16px 0px rgba(237, 65, 89, 0.4);
  box-shadow: 0 4px 16px 0px rgba(237, 65, 89, 0.4);
}

.block__button--logout {
  width: 154px;
  margin-top: 40px;
}

.block__button:hover,
.block__button:focus {
  background-color: #ffffff;
  -webkit-box-shadow: 0 6px 20px 0px rgba(237, 65, 89, 0.4);
  box-shadow: 0 6px 20px 0px rgba(237, 65, 89, 0.4);
  color: #ed4159;
}

.block__button:active {
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 10px 0px rgba(237, 65, 89, 0.4);
  box-shadow: 0 2px 10px 0px rgba(237, 65, 89, 0.4);
  color: #ed4159;
}

@media (min-width: 660px) {
  .block__button {
    margin: 18px auto 0 auto;
  }
}